server.port: 9090

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/v1/payments/**,/v1/payments
          filters:
            - RewritePath=/v1/payments/(?<segment>.*),/api/v1/payments/$\{segment}
        - id: wallet-service
          uri: lb://wallet-service
          predicates:
            - Path=/v1/wallet/**
          filters:
            - RewritePath=/v1/wallet/(?<segment>.*),/api/v1/balances/$\{segment}
    consul:
      host: localhost
      port: 8500
  config:
    import: optional:consul:localhost:8500